// Storybook styling

.icons-demo {
  display: flex;
  flex-wrap: wrap;

  .icon {
    height: 6.25rem;
    padding: $space;
    width: 6.25rem;

    @media (prefers-color-scheme: dark) {
      fill: clr(accent-high);
    }
  }

  pre {
    background-color: clr(muted);
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
  }
}

.icons-demo__item {
  border: 1px solid clr(muted);
  margin: $space-one-fourth;
}
