/* Responsive Video using CSS only */

.video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; /* 56.25% = 16x9 */
  padding-top: 2.1875rem;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.video--full {
  padding-bottom: 75%; /* 75% = 4x3 */
}
