.accordion-item {
  background: #000;
  border-bottom: 0.125rem solid #f2f2f2;
  color: #fff;
  cursor: pointer;
  font-size: 1.125rem;
  padding: 0.625rem;
  position: relative;
}

.accordion-item::after {
  content: '\25b6';
  position: absolute;
  right: 0.625rem;
  transition: transform 0.2s;
}

.accordion-body.open {
  display: block;
}

.accordion-text {
  background: #fff;
  color: #000;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.accordion-item.open::after {
  transform: rotate(90deg);
}

.accordion-item.open + .accordion-text {
  max-height: 37.5rem;
  padding: 0.625rem;
}
