<div id="accordion" class="accordion-group">

{% if accordion_items %}
  {% for key, accordion_item in accordion_items %}
    {% include "@molecules/accordions/_accordion-item.twig" with {
      title: accordion_item.title,
      text: accordion_item.text
    } %}
  {% endfor %}
{% endif %}

</div>
