/* Menu media */
$main-menu-medium: $medium;

/* Nav */
.main-nav {
  display: none;

  @include medium {
    display: block;
  }

  &--open {
    background-color: clr(background);
    display: block;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 8.375rem;
    width: 100%;
  }
}

/* UL */
.main-menu {
  @include list-reset;

  border-bottom: 1px solid;
  position: relative;
  z-index: 10;

  @include medium {
    border-bottom: none;
  }
}

/*
 * Sub Navigation
 */

/* UL (Nested) */
.main-menu--sub {
  background-color: clr(muted);
  border-bottom: none;
  height: 0;
  overflow: hidden;
  width: 100%;

  @include medium {
    background-color: clr(highlight-high);
    display: none;
    font-size: 0.9rem;
    height: auto;
    left: 0;
    opacity: 0.6;
    overflow: visible;
    padding: $space 0;
    position: absolute;
    top: 3.4375rem;
    width: 19.6875rem;
    z-index: 1;

    &:hover {
      background-color: clr(accent-high);
      opacity: 1;
      transition: all 0.2s;

      .main-menu__link--sub {
        color: clr(highlight);
      }

      .main-menu__link--sub.active,
      .main-menu__link--sub:active,
      .main-menu__link--sub:hover {
        background-color: clr(accent-high);
        color: clr(background);
      }
    }
  }

  /* See main-menu.js */
  &-open {
    height: auto;
  }
}

.main-menu--sub-2 {
  @include medium {
    display: none; /* Never shown on large screens */
  }
}
