@use '../../00-base/01-colors/colors-vars';

$color-place-holder: $gray-light;

.place-holder {
  border: 0.25rem dashed $color-place-holder;
  color: $color-place-holder;
  padding: 3.125rem;

  &__content {
    align-items: center;
    display: flex;
    font-size: 3.2rem;
    justify-content: center;
    line-height: 1.4;
    text-align: center;
    width: 100%;
  }
}
