// CSS-only select styling (from https://github.com/filamentgroup/select-css)

.form-item__dropdown {
  border: 1px solid clr(muted);
  display: block;
  position: relative;

  @media (prefers-color-scheme: dark) {
    background-color: clr(background-inverse);
  }

  &::after {
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-top: 0.5625rem solid clr(accent);
    content: ' ';

    /* These hacks make the select behind the arrow clickable in some browsers */

    display: none;
    pointer-events: none;
    position: absolute;
    right: 1rem;
    top: 42%;
    z-index: 2;

  }

  &:hover {
    border-color: clr(accent-high);
  }
}

.form-item__select {
  border: 1px solid clr(muted);
  font-size: 1rem;
  // set height required for discrepancy between .form-item__dropdown border and the select :focus border
  height: 2.5625rem;
  margin: 0;
  outline: none;
  padding: 0.6rem 0.8rem 0.5rem;
  width: 100%;

  :focus {
    color: clr(accent);
    outline: none;
  }
}

@supports (-webkit-appearance: none) or (appearance: none) or
  ((-moz-appearance: none) and (mask-type: alpha)) {
  /* Show custom arrow */

  .form-item__dropdown::after {
    display: block;
  }

  /* Remove select styling */

  .form-item__select {
    appearance: none;

    /* inside @supports so that iOS <= 8 display the native arrow */

    /* Match-04 */
    background: none;

    /* inside @supports so that Android <= 4.3 display the native arrow */

    /* Match-05 */
    border: 1px solid transparent;

    /* Match-01 */
    padding-right: 2rem;

    &:focus {
      border-color: clr(accent);
      border-radius: 0;
    }
  }
}
