.pager {
  margin: 2rem 0;
}

.pager__items {
  @include list-reset;

  text-align: center;
}

.pager__item {
  display: inline-block;
  margin: 0 0.7rem;

  @include large {
    margin: 0 1rem;
  }
}

.pager__link,
.pager__link:link,
.pager__link:visited {
  color: clr(text);
  font-weight: 600;
  text-decoration: none;

  &.is-active,
  &:hover {
    color: clr(accent);
  }
}

@mixin pager-link {
  display: block;

  span {
    display: none;
  }

  &::before {
    border: 0.5rem solid clr(text);
    border-bottom: 0.375rem solid transparent;
    border-right: 0.4375rem solid transparent;
    border-top: 0.375rem solid transparent;
    content: '';
    display: block;
    position: relative;
    top: 1px;
  }

  &:hover {
    &::before {
      border-left-color: clr(accent);
    }
  }
}

.pager__link--next,
.pager__link--prev {
  @include pager-link;
}

.pager__link--prev {
  &::before {
    border-left-color: transparent;
    border-right-color: clr(text);
  }

  &:hover {
    &::before {
      border-left-color: transparent;
      border-right-color: clr(accent);
    }
  }
}
